{
  "extends": "eslint:recommended",

  "plugins": [
    "react",
    "prettier"
  ],

  "env": {
    "browser": true,
    "node": true
  },

  "parser": "@babel/eslint-parser",

  "parserOptions": {
    "requireConfigFile": false,
    "ecmaVersion": 2017,
    "sourceType": "module",
    "impliedStrict": true,
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "globals": {
    "System": true,
    "req": true,
    "bind": true,
    "debounce": true,
    "memoize": true,
    "Actions": true,
    "Helpers": true,
    "Plaid": true,
    "Promise": true
  },

  "rules": {
    "no-console": 0,
    "no-debugger": 0,
    "no-empty-pattern": 0,
    "no-useless-escape": 0,
    "comma-dangle": "off",
    "semi": "warn",
    "curly": ["error", "multi-line"],
    "quotes": ["warn", "single"],
    "object-curly-spacing": ["warn", "always"],
    "prettier/prettier": ["warn", { "singleQuote": true }]
  }
}
